# Jupyter Notebook to explore the data and share it with Firestore

## Data exploring

In [8]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd

In [9]:
# Import the example dataset in a pandas dataframe
data = pd.read_csv("../data/example_data.csv")

In [10]:
# Display the data
data.head(10)

,Subfund_Code,Share_Class_Code,Valuation_Date,Subfund_CCY,Net_Asset_Value,Nb_Shares_Outstanding,NAV_Per_Share,CCY_NAV_share,ISIN_Code,Nb_Shares_Subscribed,Amount_Subscribed,Nb_Shares_Redeemed,Amount_Redeemed,Subfund_Long_Name,Dividend_Per_Share,Dividend_Payment_Date,Dividend_PCCY,Dividend_Payment_CCY,Dividend_Subfund_CCY,Total_Net_Assets
0,1,A,02/01/2018,EUR,53472989.09,564961.4266,111.6870,EUR,LU1234DEMO1A,0.0000,0.0000,0.0000,0.0000,NaN,0.0,0.0,0,0,EUR,53472989.09
1,1,A,03/01/2018,EUR,53615728.16,564974.2414,111.9820,EUR,LU1234DEMO1A,0.0000,0.0000,0.0000,0.0000,NaN,0.0,0.0,0,0,EUR,53615728.16
2,1,A,04/01/2018,EUR,53706892.15,565337.9646,112.1000,EUR,LU1234DEMO1A,0.0000,0.0000,0.0000,0.0000,NaN,0.0,0.0,0,0,EUR,53706892.15
3,1,A,05/01/2018,EUR,53946703.05,566130.6532,112.4422,EUR,LU1234DEMO1A,25.7948,2441.5616,12.9800,1228.5452,NaN,0.0,0.0,0,0,EUR,53946703.05
4,1,A,08/01/2018,EUR,54051911.14,566282.0000,112.6310,EUR,LU1234DEMO1A,549.7030,52166.4902,185.9798,17649.3662,NaN,0.0,0.0,0,0,EUR,54051911.14
5,1,A,09/01/2018,EUR,54001308.64,566882.5256,112.4068,EUR,LU1234DEMO1A,792.6886,75304.6618,0.0000,0.0000,NaN,0.0,0.0,0,0,EUR,54001308.64
6,1,A,10/01/2018,EUR,53763755.88,566653.7472,111.9584,EUR,LU1234DEMO1A,814.9906,77660.9566,663.6438,63239.1972,NaN,0.0,0.0,0,0,EUR,53763755.88
7,1,A,11/01/2018,EUR,53882490.78,568565.6658,111.8286,EUR,LU1234DEMO1A,711.7288,67935.2196,111.2032,10614.6192,NaN,0.0,0.0,0,0,EUR,53882490.78
8,1,A,12/01/2018,EUR,53850350.07,568226.5220,111.8286,EUR,LU1234DEMO1A,242.9030,23139.4224,471.6932,44933.1138,NaN,0.0,0.0,0,0,EUR,53850350.07
9,1,A,15/01/2018,EUR,53888766.22,568752.1530,111.8050,EUR,LU1234DEMO1A,2131.5756,202242.7960,219.6570,20840.5818,NaN,0.0,0.0,0,0,EUR,53888766.22

In [15]:
# Explore what are the distinct values for relevant columns
for col in ['Subfund_Code', 'Share_Class_Code', 'Subfund_CCY', 'CCY_NAV_share', 'ISIN_Code', 'Subfund_Long_Name', 'Dividend_PCCY', 'Dividend_Payment_CCY', 'Dividend_Subfund_CCY']:
    print("Unique values for the column", col, str(data[col].unique()))

Unique values for the column Subfund_Code [1 2 3]
Unique values for the column Share_Class_Code ['A' 'B' 'C' 'D' 'E']
Unique values for the column Subfund_CCY ['EUR' 'USD' 'NOK']
Unique values for the column CCY_NAV_share ['EUR' 'SGD' 'CZK' 'USD' 'NOK']
Unique values for the column ISIN_Code ['LU1234DEMO1A' 'LU1234DEMO1B' 'LU1234DEMO1C' 'LU1234DEMO1D'
 'LU1234DEMO2A' 'LU1234DEMO2B' 'LU1234DEMO2C' 'LU1234DEMO2D'
 'LU1234DEMO2E' 'LU1234DEMO3A' 'LU1234DEMO3B']
Unique values for the column Subfund_Long_Name [nan]
Unique values for the column Dividend_PCCY [0]
Unique values for the column Dividend_Payment_CCY ['0' 'EUR' 'SGD' 'USD']
Unique values for the column Dividend_Subfund_CCY ['EUR' 'USD' 'NOK']

**We can already notice that Dividend_PCCY and Subfund_Long_Name are useless columns.**

## Communication with Firestore

### Importing relevant libraries

In [18]:
import firebase_admin
from firebase_admin import credentials, firestore

### Identificating to Firbase

In [6]:
cred = credentials.Certificate("../identification/ngt-technical-test-firebase-adminsdk.json")
app=firebase_admin.initialize_app(cred)
store = firestore.client()

doc_ref = store.collection('test')
doc_ref.add({'name': 'test', 'added': 'just now'})

(seconds: 1583001943
 nanos: 893539000,
 <google.cloud.firestore_v1.document.DocumentReference at 0x8a43990>)

In [ ]:
def add_dict_to_collection(collection_name, dic):
    """Takes a pandas data
    Line 2 of comment...
    And so on... 
    """